Repository boswelja/NASdroid, pull requests merged in 2024-08, with the labels that each got.

#449 Fix reporting screen drawing behind app bars
  features/reporting/ui/src/main/kotlin/com/nasdroid/reporting/ui/overview/ReportingOverviewScreen.kt
Labels: bug, ui-ux, features:reporting

#450 Change CONTRIBUTING.md relative issue link to absolute link
  CONTRIBUTING.md
Labels: documentation

#452 Update dependencies
  gradle/libs.versions.toml
Labels: dependencies

#453 Remove usages of deprecated `Modifier.menuAnchor`
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/DiscoverAppsFilterChips.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/RollbackAppDialog.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/UpdateAppDialog.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/overview/logs/LogOptionsPicker.kt
Labels: ui-ux, features:apps

#439 Create a screen to view information about available apps
  app/src/test/kotlin/com/nasdroid/DITest.kt
  config/detekt.yml
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/catalog/CatalogV2Api.kt
  core/design/src/main/kotlin/com/nasdroid/design/Paddings.kt
  features/apps/logic/src/main/kotlin/com/nasdroid/apps/logic/DI.kt
  features/apps/logic/src/main/kotlin/com/nasdroid/apps/logic/discover/GetAvailableAppDetails.kt
  features/apps/logic/src/main/kotlin/com/nasdroid/apps/logic/discover/StripHtmlTags.kt
  features/apps/ui/build.gradle.kts
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/DI.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/Navigation.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/AvailableAppCard.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/DiscoverAppsFilterChips.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/DiscoverAppsScreen.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/AppInfo.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/AvailableAppDetailsScreen.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/AvailableAppDetailsViewModel.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/HelmChartInfo.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/KeywordsRow.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/discover/details/ScreenshotCarousel.kt
  features/apps/ui/src/main/res/values/strings.xml
Labels: logic, ui-ux, core:api, features:apps, core:design

#454 Update release information in README
  README.md
Labels: documentation

#455 Add all pool APIs to API client
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/pool/PoolV2Api.kt
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/pool/PoolV2ApiImpl.kt
  features/storage/logic/src/main/kotlin/com/nasdroid/storage/logic/pool/GetPoolDetails.kt
  features/storage/logic/src/main/kotlin/com/nasdroid/storage/logic/pool/GetPoolOverviews.kt
Labels: logic, core:api, features:storage

#457 Fix nullability of pool fields
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/pool/PoolV2Api.kt
  features/storage/logic/src/main/kotlin/com/nasdroid/storage/logic/pool/GetPoolDetails.kt
  features/storage/logic/src/main/kotlin/com/nasdroid/storage/logic/pool/GetPoolOverviews.kt
Labels: logic, core:api, features:storage

#458 Migrate Storage dashboard to new navigation system
  app/src/main/java/com/nasdroid/MainNavHost.kt
  features/storage/ui/build.gradle.kts
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/Navigation.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/PoolsScreen.kt
  features/storage/ui/src/main/res/values/strings.xml
Labels: ui-ux, features:storage

#459 Refresh storage pool list design & improve code quality
  app/src/main/java/com/nasdroid/MainActivity.kt
  app/src/main/java/com/nasdroid/MainNavHost.kt
  app/src/main/java/com/nasdroid/MainScreen.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/DI.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/Navigation.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/PoolsScreen.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/StorageOverviewScreen.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/overview/PoolCard.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/overview/PoolsScreen.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/overview/PoolsViewModel.kt
  features/storage/ui/src/main/kotlin/com/nasdroid/storage/ui/pools/overview/StorageUseSummary.kt
  features/storage/ui/src/main/res/values/strings.xml
Labels: ui-ux, features:storage

#460 Iterate on pool APIs
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/pool/PoolV2Api.kt
  features/storage/logic/src/main/kotlin/com/nasdroid/storage/logic/pool/GetPoolOverviews.kt
Labels: logic, core:api, features:storage
