Repository boswelja/NASdroid, pull requests merged in 2024-02, with the labels that each got.

#283 Allow retrieving chart schema
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/chart/release/ChartRelease.kt
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/chart/release/ChartReleaseV2Api.kt
  core/api/src/commonMain/kotlin/com/nasdroid/api/v2/chart/release/ChartReleaseV2ApiImpl.kt
Labels: core:api

#284 Update dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#285 Create UpdateAppDialog
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/UpdateAppDialog.kt
Labels: ui-ux, features:apps

#289 Update dependencies to enable predictive back gestures
  gradle/libs.versions.toml
Labels: dependencies

#286 Create compose-markdown module for rendering Markdown in a native way
  .github/area-labeler.yml
  .github/workflows/code-scanning.yml
  core/compose-markdown/.gitignore
  core/compose-markdown/build.gradle.kts
  core/compose-markdown/src/main/AndroidManifest.xml
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/MarkdownDocument.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownBlockQuote.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownCodeBlock.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownHeading.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownHtmlBlock.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownList.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownParagraph.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownRule.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownSpanNodeExt.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownTable.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/generator/MarkdownNode.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/generator/MarkdownNodeGenerator.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/BlockQuoteStyle.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/CodeBlockStyle.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/Material3Ext.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/TextStyles.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/TextUnitSize.kt
  core/compose-markdown/src/test/kotlin/com/nasdroid/core/markdown/MarkdownNodeBuilders.kt
  core/compose-markdown/src/test/kotlin/com/nasdroid/core/markdown/MarkdownNodeGeneratorTest.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependencies, workflows

#290 Use MarkdownDocument for application notes
  features/apps/ui/build.gradle.kts
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationNotes.kt
Labels: ui-ux, features:apps

#291 Handle COLON token type in Markdown documents
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/generator/MarkdownNodeGenerator.kt
Labels: core:compose-markdown

#292 Installed application details revamp
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/Material3Ext.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationHistory.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationInfo.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationNotes.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationWorkloads.kt
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/InstalledAppDetailsScreen.kt
Labels: ui-ux, features:apps, core:compose-markdown

#295 Fix block quote bar
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/MarkdownDocument.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownBlockQuote.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/BlockQuoteStyle.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/Material3Ext.kt
Labels: core:compose-markdown

#298 Remove integrated compose-markdown in favor of published library variant
  .github/area-labeler.yml
  .github/workflows/code-scanning.yml
  core/compose-markdown/.gitignore
  core/compose-markdown/build.gradle.kts
  core/compose-markdown/src/main/AndroidManifest.xml
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/MarkdownDocument.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownBlockQuote.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownCodeBlock.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownHeading.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownHtmlBlock.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownList.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownParagraph.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownRule.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownSpanNodeExt.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/components/MarkdownTable.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/generator/MarkdownNode.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/generator/MarkdownNodeGenerator.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/BlockQuoteStyle.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/CodeBlockStyle.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/Material3Ext.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/TextStyles.kt
  core/compose-markdown/src/main/kotlin/com/nasdroid/core/markdown/style/TextUnitSize.kt
  core/compose-markdown/src/test/kotlin/com/nasdroid/core/markdown/MarkdownNodeBuilders.kt
  core/compose-markdown/src/test/kotlin/com/nasdroid/core/markdown/MarkdownNodeGeneratorTest.kt
  features/apps/ui/build.gradle.kts
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationNotes.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependencies, workflows, ui-ux, features:apps, core:compose-markdown

#304 Remove compose-urllauncher
  .github/area-labeler.yml
  .github/workflows/code-scanning.yml
  core/compose-urllauncher/.gitignore
  core/compose-urllauncher/build.gradle.kts
  core/compose-urllauncher/src/main/AndroidManifest.xml
  core/compose-urllauncher/src/main/kotlin/com/nasdroid/core/urllauncher/DefaultUrlLauncher.kt
  core/compose-urllauncher/src/main/kotlin/com/nasdroid/core/urllauncher/UrlLauncher.kt
  features/apps/ui/build.gradle.kts
  features/apps/ui/src/main/kotlin/com/nasdroid/apps/ui/installed/details/ApplicationInfo.kt
  settings.gradle.kts
Labels: workflows, ui-ux, features:apps, core:compose-urllauncher

#305 Update dependencies
  gradle/libs.versions.toml
Labels: dependencies
